<div class="container">
    <div class="row">
        <div class="col-xxl-1 d-flex align-items-center device icon">
            <img class="icon dark-mode text-center" src="/assets/img/{{device.type}}.png" alt="">
        </div>
        <div class="col align-self-center">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-start">
                            <span *ngIf="!editMode">{{device.name ?? 'label.empty' | translate}}</span>
                            <input *ngIf="editMode" type="text" class="form-control" [(ngModel)]="editedDevice.name">
                        </div>
                        <div class="col d-flex align-items-center justify-content-end edit-mode-box">
                            <span>{{ 'label.edit-mode' | translate }}</span>
                            <app-switch [status]="editMode" (switch)="onEditClick($event)"></app-switch>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>{{onlineStatus}}</span>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span *ngIf="!editMode">{{device.description ?? 'label.empty' | translate}}</span>
                    <input *ngIf="editMode" class="form-control" [(ngModel)]="editedDevice.description" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">{{
                            'page.device.navigation.properties' | translate }}</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">{{
                            'page.device.navigation.actions' | translate }}</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">{{
                            'page.device.navigation.tasks' | translate }}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-striped-columns">
                                        <thead>
                                            <tr>
                                                <th style="width: 200px;">{{ 'input.name' | translate }}</th>
                                                <th>{{ 'label.value' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let property of deviceProperties">
                                                <td>{{property.propertyName}}</td>
                                                <td>
                                                    <app-edit-property [editOriginal]="false" [property]="property"
                                                        (changed)="onSetProperty($event)"></app-edit-property>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <button class="btn btn-primary" type="button"
                            [routerLink]="['/action/new', {target: device.id}]">{{ 'page.device.action.button.add-new' | translate }}</button>
                        <ul>
                            <li *ngFor="let action of deviceActions">
                                <a [routerLink]="['/action', action.id]">{{action.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <button class="btn btn-primary" type="button">{{ 'page.device.task.button.add-new' | translate }}</button>
                        <ul>
                            <li *ngFor="let task of deviceTasks">
                                <a [routerLink]="['/task', task.id]">{{task.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-save-changes-model [visible]="editMode" [message]="'label.question.save-changes' | translate" [yesText]="'button.yes' | translate" [noText]="'button.no' | translate"
    [disableYes]="!hasChanges" (yes)="onSaveClick()" (no)="onCancelClick()">
</app-save-changes-model>