.device.icon>img {
    width: 128px;
    height: 128px;
}

.device.icon {
    width: initial;
    border-right: 2px solid var(--bs-secondary-bg);
    position: relative;
    display: flex;
}

.edit-mode-box span {
    margin-right: 5px;
}