<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 i18n>Log In</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <form class="text-center" method="post">
                            <div class="mb-3">
                                <input i18n-placeholder class="form-control" type="email" name="email" placeholder="Email"
                                    [(ngModel)]="email">
                            </div>
                            <div class="mb-3">
                                <input i18n-placeholder class="form-control" type="password" name="password" placeholder="Password"
                                    [(ngModel)]="password">
                            </div>
                            <div class="mb-3">
                                <button i18n class="btn btn-primary d-block w-100" type="submit" (click)="login()">Log In</button>
                            </div>
                            <p class="text-muted" i18n>Forgot your password?</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>