<div class="row" style="margin-right: -12px;">
    <div class="col">
        <hr />
        <div class="row">
            <div class="col-xxl-1 align-self-center" style="text-align: center;">
                <span>
                    <strong>#{{index}}</strong>
                </span>
            </div>
            <div *ngIf="hasNext" class="col">
                <select class="form-select">
                    <option value="0" (click)="onExpressionOperatorChange(0)" [selected]="expression.expressionOperator == 0">{{ 'expression.select.expression-operator.and' | translate }}</option>
                    <option value="1" (click)="onExpressionOperatorChange(1)" [selected]="expression.expressionOperator == 1">{{ 'expression.select.expression-operator.or' | translate }}</option>
                </select>
            </div>
            <div class="col">
                <select class="form-select">
                    <optgroup label="Devices">
                        <option *ngFor="let item of devices" value="{{item.id}}" title="{{item.description}}"
                            [selected]="item.id == expression.deviceId" (click)="onDeviceChange(item)">{{item.name ??
                            item.type}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="col"><select class="form-select">
                    <optgroup label="Device properties">
                        <option *ngFor="let item of deviceProperties" value="{{item.propertyName}}"
                            title="{{item.propertyName}}" [selected]="item.propertyName == expression.deviceProperty"
                            (click)="onPropertyChange(item)">{{item.propertyName}}
                        </option>
                    </optgroup>
                </select></div>
            <div class="col"><select class="form-select">
                    <optgroup label="Comparison operators">
                        <option *ngFor="let item of comparisonOperators" value="{{item.code}}"
                            [selected]="item.code == expression.operator" (click)="onOperatorChange(item)">{{item.str}}
                        </option>
                    </optgroup>
                </select></div>
            <div class="col" style="text-align: center;">
                <app-edit-property [ignoreReadOnly]="true" [property]="selectedProperty" (changed)="onSetProperty($event)"></app-edit-property>
            </div>
            <div class="col-xxl-1 delete-box" *ngIf="editMode && canRemove">
                <i class="icon ion-close-round" (click)="onDelete()"></i>
            </div>
        </div>
    </div>
</div>